*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--tertiary-color: #eeeeee;
	--accent-color: #ff0000;
	--link-color: #0000ff;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--primary-color: #000000;
		--secondary-color: #bdbdbd;
		--tertiary-color: #333333;
		--link-color: #56c8ff;
	}
}

body {
	font-family: monospace;
	line-height: 1.6;
	max-width: 80ch;
	margin-inline: auto;
	text-transform: lowercase;
}

::-moz-selection {
	background-color: var(--accent-color);
}

::selection {
	background-color: var(--accent-color);
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: large;
}

a {
	text-decoration: none;
}

a,
a:link,
a:visited {
	color: var(--link-color);
}

a:focus,
a:hover {
	text-decoration: underline;
}

code {
	background-color: var(--tertiary-color);
	padding: .1rem .3rem;
	border-radius: .2rem;
	overflow: auto;
}

ul {
	list-style: square inside;
}

body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 1rem;
}

.cluster {
	justify-content: flex-start;
	align-items: flex-start;
}

.cluster[data-align=center] {
	align-items: center;
}

.cluster[data-justify=center] {
	justify-content: center;
}

.cover {
	min-block-size: 100vh;
}

.cover > :first-child:not(main) {
	margin-block-start: 0;
}

.cover > :last-child:not(main) {
	margin-block-end: 0;
}

.cover > main {
	flex: 1;
}

.cover > * {
	margin-block: 1rem;
}

.cluster {
	flex-wrap: wrap;
}

.cover,
.stack,
.cluster {
	display: flex;
}

.cover,
.stack {
	flex-direction: column;
}

.stack,
.cluster {
	gap: 1rem;
}

.text-align\:center {
	text-align: center;
}
